body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
    color: blue;
}
